<html lang="en">
    <style>
        body {
          background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQytA5JgkH3Zr4otCaXWaI-zX7Zxky7rvIxCxsFXcFwZ1qOAGPH&usqp=CAU');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <button onclick="window.location.href='/login';">Login</button>
    <button onclick="window.location.href='/signup';">Signup</button>
</body>
</html>